/* General formating */
    :root {
        --color-1: #2E80CE;
        --color-2: #575F66;
        --color-3: #ffffff;
        --color-4: #C9D2DA;
        --color-5: #10375C;
        --color-6: #A9B3BB;
        
        --main-font: "Sora", sans-serif;
        --font-2: "Open Sans", sans-serif;
    }
    * {font-size: 1.6rem; font-family: var(--main-font);font-optical-sizing: auto; font-weight: 300; color: var(--color-2);}
    ::-webkit-scrollbar {background: transparent; width: 5px; height: 5px;}
    ::-webkit-scrollbar-thumb {background: var(--color-5);}
    html {font-size: 62.5%;}
    
body {
    background: url(./assets/img/bg.jpg) center / cover no-repeat; min-height: 100vh;
}
* {
    font-family: "Open Sans",sans-serif; font-size: 1.6rem;line-height: 1.5; font-weight: 400; color: #fff;
}
/* common selector */

h1, h2, h3, p {padding: 0;margin: 0; display: block; word-break: break-all;}
h1 {font-weight: 600; font-size: 3rem; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient:vertical; overflow: hidden;}
.header__owner {color: var(--color-2); font-weight: 500;}
.desc {padding: 12px 0;}
/* particular selectors */
.container {width: 100%;height: 100vh;display: flex;align-items: center;justify-content: center; background: #00000066;}
.container__wrapper {width: 80%; max-width: 850px; height: 70%; max-height: 700px; border-radius: 10px; background: rgba(22, 20, 14, 0.425); backdrop-filter: blur(8px); box-sizing: border-box; padding: 30px; display: grid; grid-template-rows: auto 1fr 45px; grid-gap: 15px;}

main {width: 100%;overflow: auto;}
    /* *********** tables ****************** */
        table {border-collapse: collapse; min-width: 100%;}
        /* th, td {border: 1px solid #fff;} */

        tr { padding: 15px; display: grid; width: 100%;align-items: center; gap: 15px; grid-template-columns: 100px 1fr 150px 100px; box-sizing: border-box;}
        thead > tr{background: rgba(255, 255, 255, 0.168);}
        tbody > tr:nth-child(odd) {background: rgba(204, 221, 204, 0.307);}
        th, td {display: flex;}
        th {font-weight: 700;}
        /* table-data */
            td {}
                td img {width: 200px;height: 100px; object-fit: cover; border-radius: 8px; display: block;}
                td span {border-radius: 20px; padding: 8px 15px; display: inline-block; background: #ffea005d;}
                td a {border-radius: 12px; padding: 12px; display: inline-flex; border: 1px solid #2f2f2f;}
                td a:hover {background: #c7c7c45d;}
    /*  */
footer {display: grid;align-items: center;}